@media (max-width: 1800px) {
    .toolkitIcons {
        ul {
            margin: 190px 250px;

            li {
                font-size: 2rem;
                padding: 20px;

                p {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (max-width: 1480px) {
    .toolkitIcons {
        ul {
            margin: 100px 300px;
        }
    }
}

@media (max-width: 1275px) {
    .projectsContainer {
        .earthquakesSuperheroesText,
        .tetrisGameText {
                line-height: 1.3rem;
            }
    }

        .toolkitIcons {
            ul {
                margin: 90px 300px;

                li {
                    font-size: 1.6rem;
                }
            }
        }
}

@media (max-width: 1160px) {
    .projectsContainer {
        .earthquakesSuperheroesText {
            font-size: 0.8rem;
        }
    }

    .laptop {
        img {
            width: 90%;
        }
    }

    .toolkitIcons {
        ul {
            margin: 90px 200px;

            li {
                    font-size: 2.5rem;
                    padding: 20px;
                }
        }
    }
}

@media (max-width: 1090px) {
    .projectsContainer {
        .fitnessPlannerText {
            p {
                line-height: 1rem;
            }
        }
    }

    .toolkitIcons {
        ul {
            margin: 130px 190px;

            li {
                font-size: 2rem;
                padding: 20px;
            }
        }
    }
}

/* Portrait tablet and small desktops */
@media (max-width: 960px) {
    // Base styles

    body {
        overflow-x: hidden;
    }

    // Projects section

    .projects {
        h2 {
            &:before {
                left: 30%;
            }
        }
    }

    .projectsContainer {
        img {
            object-position: 25% 50%;
        }

        p {
            margin: 35px 0;
        }

        .underTheSea,
        .pokedexApi,
        .fitnessPlanner,
        .earthquakesSuperheroes,
        .tetrisGame {
            width: 48%;
        }

        .underTheSeaText,
        .pokedexApiText,
        .fitnessPlannerText,
        .earthquakesSuperheroesText,
        .tetrisGameText {
            padding: 15px 5px;
            text-align: center;

            h3 {
                font-size: 1.5rem;
            }

            ul {
                justify-content: space-evenly;
            }
        }

        .earthquakesSuperheroesText {
            p {
                font-size: 0.8rem;
                line-height: 1.7rem;
            }
        }

        .fitnessPlannerText {
            p {
                line-height: 1.6rem;
            }
        }
    }

    // About section

    .aboutContainer {
        .aboutImg {
            img {
                width: 300px;
                height: 300px;
            }
        }
    }
    
    // Toolkit section

    .laptop {
        top: 550px;

        img {
            width: 90%;
        }
    }

    .toolkitIcons {
        padding-top: 170px;
    
        h2 {
            &:before {
                left: 25.5%;
            }
        }
    
        ul {
            margin: 190px 140px;

            li {
                p {
                    margin-top: 10px;
                }
            }
        }
    }

    // Contact section

    .contactText {
        width: 40%;
    }

    .socialIcons {
        width: 100%;
    }
    
    .contactForm {
        width: 50%;
    }
}

@media (max-width: 880px) {
    .projectsContainer {
        .earthquakesSuperheroesText {
            p {
                line-height: 1.3rem;
            }
        }
    }

    .toolkitIcons {
        ul {
            margin: 160px 120px;

            li {
                font-size: 1.8rem;
                padding: 20px;
            }
        }
    }
}

@media (max-width: 810px) {
    // Projects section

    .projects {
        h2 {
            &:before {
                left: 26.5%;
            }
        }
    }

    .projectsContainer {
        .underTheSeaText,
        .fitnessPlannerText {
            p {
                line-height: 1.1rem;
            }
        }
    }

    // About section

    .about {
        height: 1550px;

        .aboutText {
            line-height: 1.4rem;
        }
    }

    // Toolkit section

    .toolkitIcons {
        h2 {
            &:before {
                left: 21.5%;
            }
        }
    }

    .toolkitIcons {
        ul {
            margin: 170px 140px;

            li {
                font-size: 1.8rem;
                padding: 15px;
            }
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 770px) {
    // Base styles

    html {
        font-size: 100%;
    }

    .wrapper {
        width: 95%;
    }

    // Nav styles

    .burgerIcon {
        right: 25px;
    }

    // Projects section

    .projects {
        padding-top: 50px;

        h2 {
            &:before {
                left: 31%;
            }
        }
    }

    .projectsContainer {
        flex-direction: column;
        height: 2400px;

        img {
            height: 400px;
        }

        .button {
            padding: 10px 0px;
        }

        .underTheSea,
        .pokedexApi,
        .fitnessPlanner,
        .earthquakesSuperheroes,
        .tetrisGame {
            width: 100%;
        }

        .underTheSeaText,
        .pokedexApiText,
        .fitnessPlannerText,
        .earthquakesSuperheroesText,
        .tetrisGameText {
            padding-top: 45px;
            height: 400px;

            h3,
            li {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;
                line-height: 2rem;
                margin: 75px 0;
            }
        }

        .earthquakesSuperheroesText {
            p {
                margin: 60px 0;
            }
        }
    }

    // About section 

    .aboutContainer {
        flex-direction: column;
        padding-top: 50px;
        height: 950px;

        h2 {
            text-align: center;

            &:before {
                left: 30%;
            }
        }

        .aboutText {
            margin-right: 0;
        }

        .aboutImg {
            img {
                width: 500px;
                height: 500px;
            }
        }
    }

    // Toolkit section

    .toolkit {
        height: 1200px;
    }

    .laptop {
        top: 400px;
        width: 730px;
    
        img {
            width: 95%;
            margin: 0 auto;
        }
    }
    
    .toolkitIcons {
        padding-top: 50px;
    
        h2 {
            &:before {
                left: 27.5%;
            }
        }
    
        ul {
            margin: 160px 150px;

            li {
                padding: 20px;
            }
        }
    }

    // Contact section

    .contact {
        margin-top: -330px;
        height: 1500px;

        h2 {
            text-align: center;

            &:before {
                left: 32%;
            }
        }
    }

    .contactContainer {
        flex-direction: column;
        height: 1100px;
    }

    .contactText {
        width: 100%;
    }

    .socialIcons {
        justify-content: space-evenly;

        a {
            font-size: 4rem;
        }
    }

    .contactForm {
        width: 100%;
    }
}

@media (max-width: 600px) {
    // Projects section

    .projects {
        h2 {
            &:before {
                left: 26%;
            }
        }
    }

    .projectsContainer {
        .earthquakesSuperheroesText {
            h3 {
                font-size: 2.3rem;
            }

            p {
                margin: 59px 0;
            }
        }

        .tetrisGameText {
            p {
                font-size: 1.4rem;
            }
        }
    }
    
    // About section

    .about {
        h2 {
            &:before {
                left: 24.5%;
            }
        }
    }

    // Toolkit section

    .toolkit {
        height: 1500px;

        h2 {
            &:before {
                left: 21%;
            }
        }
    }

    .laptop {
        top: 350px;
        width: 300px;

        img {
            width: 95%;
            margin: 0 auto;
        }
    }

    .toolkitIcons {
        ul {
            margin: 300px 0;

            li {
                font-size: 2.5rem;
                padding: 40px;
            }
        }
    }
    // Contact section

    .contact {
        h2 {
            &:before {
                left: 27.5%;
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    // Nav styles

    nav {
        li {
            margin: 70px 0;
        }

        a {
            padding: 15px 50px;
        }
    }

    .burgerIcon {
        right: 15px;
    }

    // Header styles

    .home {
        text-align: center;

        &:after {
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -20px;
        }
    }

    h1 {
        text-align: center;

        span {
            display: block;
        }
    }

    // Projects sections

    .projects {
        padding-top: 150px;

        h2 {
            &:before {
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    }

    .projectsContainer {
        text-align: center;

        .underTheSeaText,
        .pokedexApiText,
        .fitnessPlannerText,
        .earthquakesSuperheroesText,
        .tetrisGameText {
            padding-top: 25px;

            p {
                margin: 55px 0;
            }
        }

        .earthquakesSuperheroesText {
            h3 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 2rem;
                margin: 46px 0;
            }
        }

        .tetrisGameText {
            line-height: 1rem;
        }

        .button {
            width: 100%;
            margin: 5px 0;
        }
    }

    // About section

    .about {
        height: 1500px;
    }

    .aboutContainer {
        height: 900px;

        h2 {
            &:before {
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    
        .aboutText {
            text-align: center;
        }
    
        .aboutImg {
            img {
                width: 350px;
                height: 350px;
            }
        }
    
        .aboutElement {
            bottom: -10%;
            left: 37%;
        }
    }

    // Toolkit section

    .toolkit {
        height: 1300px;
    }

    .laptop {
        width: 350px;
        top: 300px;

        img {
            width: 80%;
            margin: 0 auto;
        }
    }
    
    .toolkitIcons {
        h2 {
            &:before {
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    
        ul {
            margin: 250px 0;

            li {
                padding: 30px;
            }
        }
    }

    // Contact section

    .contact {
        margin-top: -400px;
        
        h2 {
            &:before {
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    }
    
    .contactContainer {
        text-align: center;
    }

    // Form styles

    .contactForm {
        margin-top: 40px;
    }

    form {

        .formContainer {
            flex-direction: column;
        }
        
        .nameContainer {
            width: 100%;
            margin: 20px 0;
        }
        
        .emailContainer {
            width: 100%;
        }
    }
    
}

@media (max-width: 435px) {
    // Projects section

    .projectsContainer {
        .underTheSeaText,
        .pokedexApiText,
        .fitnessPlannerText,
        .earthquakesSuperheroesText,
        .tetrisGameText {
            p {
                font-size: 1.2rem;
                margin: 55px 0;
            }
        }

        .earthquakesSuperheroesText {
            h3 {
                font-size: 1.7rem;
            }

            p {
                font-size: 1rem;
                line-height: 1.8rem;
                margin: 51px 0;
            }
        }
    }
    // Toolkit section

    .toolkitIcons {
        ul {
            li {
                padding: 25px;
            }
        }
    }
}

@media (max-width: 390px) {
    // Projects section

    .projectsContainer {
        .fitnessPlannerText {
            h3 {
                font-size: 2.2rem;
            }
        }

        .earthquakesSuperheroesText {
            h3 {
                font-size: 1.5rem;
            }

            p {
                margin: 39px 0;
                line-height: 2.3rem;
            }
        }
    }

    // Toolkit Section

    .toolkitIcons {
        ul {
            margin: 270px 0;

            li {
                padding: 19px;
            }
        }
    }
}