/* Portrait tablet and small desktops */
@media (max-width: 965px) {
    // About section

    .aboutContainer {
        .aboutImg {
            img {
                width: 300px;
                height: 300px;
            }
        }
    }
    
    // Toolkit section

    .laptop {
        top: 550px;

        img {
            width: 90%;
        }
    }

    .toolkitIcons {
        padding-top: 300px;
    
        h2 {
            &:before {
                left: 25.5%;
            }
        }
    
        ul {
            margin: 190px 140px;

            li {
                font-size: 1.6rem;
                padding: 20px;
    
                p {
                    margin-top: 10px;
                }
            }
        }
    }

    // Projects section

    .projects {
        h2 {
            &:before {
                left: 30%;
            }
        }
    }

    .projectsContainer {
        img {
            object-position: 25% 50%;
        }

        .underTheSea,
        .pokedexApi,
        .fitnessPlanner {
            width: 48%;
        }

        .underTheSeaText,
        .pokedexApiText,
        .fitnessPlannerText {
            padding: 5px;
            text-align: center;

            h3 {
                font-size: 1.5rem;
            }

            ul {
                justify-content: space-evenly;
                
                li {
                    padding-right: 0;
                }
            }
        }
    }

    // Contact section

    .contactText {
        width: 40%;
    }

    .socialIcons {
        width: 100%;
    }
    
    .contactForm {
        width: 50%;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 770px) {
    // Base styles

    html {
        font-size: 100%;
    }

    .wrapper {
        width: 95%;
    }

    // Nav styles

    .burgerIcon {
        right: 25px;
    }

    // About section 

    .aboutContainer {
        flex-direction: column;
        padding-top: 50px;
        height: 1100px;

        h2 {
            text-align: center;

            &:before {
                left: 30%;
            }
        }

        .aboutText {
            margin-right: 0;
        }

        .aboutImg {
            img {
                width: 600px;
                height: 600px;
            }
        }

        .aboutElement {
            bottom: -10%;
            left: 35%;
        }
    }

    // Toolkit section

    .laptop {
        width: 730px;
    
        img {
            width: 95%;
            margin: 0 auto;
        }
    }
    
    .toolkitIcons {
        padding-top: 350px;
    
        h2 {
            &:before {
                left: 27.5%;
            }
        }
    
        ul {
            margin: 160px 150px;
        }
    }

    // Projects section

    .projects {
        padding-top: 50px;
        height: 1800px;

        h2 {
            &:before {
                left: 31%;
            }
        }
    }

    .projectsContainer {
        flex-direction: column;
        height: 1100px;
    
        .button {
            display: inline-block;
            padding: 10px 0px;
            width: 49%;
            text-align: center;
        }
    
        .underTheSea,
        .pokedexApi,
        .fitnessPlanner {
            width: 100%;
        }

        .underTheSeaText,
        .pokedexApiText,
        .fitnessPlannerText {
            padding: 25px;
        }
    }

    // Contact section

    .contact {
        margin-top: -330px;
        height: 1500px;

        h2 {
            text-align: center;

            &:before {
                left: 32%;
            }
        }
    }

    .contactContainer {
        flex-direction: column;
        height: 1100px;
    }

    .contactText {
        width: 100%;
    }

    .socialIcons {
        justify-content: space-evenly;

        a {
            font-size: 4rem;
        }
    }

    .contactForm {
        width: 100%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    // Nav styles

    .burgerIcon {
        right: 15px;
    }

    // Header styles

    .home {
        text-align: center;

        &:after {
            left: 34%;
        }
    }

    h1 {
        text-align: center;

        span {
            display: block;
        }
    }

    // About section

    .about {
        height: 800px;
    }

    .aboutContainer {
        height: 900px;

        h2 {
            &:before {
                left: 34%;
            }
        }
    
        .aboutText {
            text-align: center;
        }
    
        .aboutImg {
            img {
                width: 350px;
                height: 350px;
            }
        }
    
        .aboutElement {
            bottom: -10%;
            left: 37%;
        }
    }

    // Toolkit section

    .toolkit {
        height: 1300px;
    }

    .laptop {
        width: 400px;
        top: 500px;

        img {
            width: 20%;
            margin: 0 auto;
        }
    }
    
    .toolkitIcons {
        padding-top: 400px;
    
        h2 {
            &:before {
                left: 34%;
            }
        }
    
        ul {
            margin: 160px 0px;

            li {
                padding: 15px;
            }
        }
    }

    // Projects sections

    .projects {
        height: 2100px;
        padding-top: 150px;

        h2 {
            &:before {
                left: 34%;
            }
        }
    }

    .projectsContainer {
        text-align: center;
        height: 1400px;

        p {
            margin: 10px 0;
        }

        ul {
            li {
                padding-bottom: 0;
            }
        }

        .button {
            width: 100%;
            margin: 10px 0;
        }
    }

    // Contact section

    .contact {
        margin-top: -400px;
        
        h2 {
            &:before {
                left: 34%;
            }
        }
    }
    
    .contactContainer {
        text-align: center;
    }

    // Form styles

    .contactForm {
        margin-top: 40px;
    }

    form {

        .formContainer {
            flex-direction: column;
        }
        
        .nameContainer {
            width: 100%;
            margin: 20px 0;
        }
        
        .emailContainer {
            width: 100%;
        }
    }
    
}