// About section

.about {
    margin-top: 200px;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .aboutText {
        margin-right: 100px;

        p {
            margin-top: 40px;
        }
    }

    .aboutImg {
        
        img {
            width: 500px;
            height: 500px;
            object-fit: cover;
            border-radius: 25px;
            box-shadow: -10px 10px 20px 10px rgba(0, 0, 0, 0.5);
        }
    }
}

