// Projects section

.projects {
    margin-top: 50px;
    position: relative;

    h2 {
        text-align: center;
        position: relative;
        padding-top: 100px;

        &:before {
            content: "";
            display: block;
            width: 140px;
            height: 2px;
            background-color: $text;
            position: absolute;
            left: 36.5%;
            top: 95px;
        }
    }

    p {
        text-align: center;
    }

    .projectElement {
        position: absolute;
        bottom: -150px;
        width: 25%;
        display: flex;
        justify-content: space-between;
        left: 0;
        right: 0;
        margin: 0 auto;

        img {
            width: 15%;
        }
    }
}

.projectsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
        margin-bottom: 35px;
    }

    p {
        margin: 25px 0;
    }

    ul {
        display: flex;
        justify-content: space-evenly;

        li {
            font-size: 2rem;
            margin-bottom: 20px;
        }
    }

    .button {
        color: $white;
        padding: 10px 0;
        background-color: $tertiary;
        border-radius: 15px;
        text-transform: none;
        font-weight: 500;
        display: inline-block;
        width: 49%;

        &:hover,
        &focus {
            background-color: $primary;
            color: $text;
            cursor: pointer;
        }
    }

    .underTheSea,
    .pokedexApi,
    .fitnessPlanner,
    .earthquakesSuperheroes,
    .tetrisGame,
    .audioScribe {
        position: relative;
        width: 45%;
        text-align: center;
    }

    .underTheSeaText,
    .pokedexApiText,
    .fitnessPlannerText,
    .earthquakesSuperheroesText,
    .tetrisGameText,
    .audioScribeText {
        position: absolute;
        top: 0;
        left: 0;
        height: 300px;
        background-color: rgba(0, 0, 0, 0.9);
        color: $white;
        width: 100%;
        border-radius: 15px;
        padding: 30px;
        transform: rotateY(180deg);
    }

    .earthquakesSuperheroesText {
        h3,
        li {
            font-size: 1.5rem;
        }

        p {
            margin: 13px 0;
        }
    }

    .innerCard {
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;
    }

    .innerCard.flip {
        transform: rotateY(180deg);
    }

    .card {
        backface-visibility: hidden;
        overflow: hidden;
    }
}

// About section

.about {
    background-image: url(../assets/back-img-3.png);
    background-size: cover;
    height: 1400px;
    margin-top: 200px;
    padding-top: 250px;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 150px;

    h2 {
        position: relative;
        
        &:before {
            content: "";
            display: block;
            width: 140px;
            height: 2px;
            background-color: $text;
            position: absolute;
            top: 0px;
        }
    }

    .aboutText {
        margin-right: 100px;

        p {
            margin-top: 40px;
        }
    }

    .aboutImg {
        
        img {
            width: 500px;
            height: 500px;
            object-fit: cover;
            border-radius: 15px;
            box-shadow: -10px 10px 20px 10px rgba(0, 0, 0, 0.5);
        }
    }
}

// Toolkit section

.toolkit {
    background-image: url(../assets/back-img-4.png);
    background-size: cover;
    height: 1500px;
    margin-top: -300px;
    padding-top: 150px;
    position: relative;
}

.laptop {
    position: absolute;
    top: 400px;
    margin: 0 auto;
    left: 0;
    right: 0;

    img {
        width: 60%;
        margin: 0 auto;
    }
}

.toolkitIcons {
    padding-top: 100px;

    h2 {
        text-align: center;
        position: relative;
        
        &:before {
            content: "";
            display: block;
            width: 140px;
            height: 2px;
            background-color: $text;
            position: absolute;
            left: 33.5%;
            top: -5px;
        }
    }

    p {
        font-family: $logoFont;
    }

    ul {
        margin: 80px 200px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            font-size: 2.5rem;
            padding: 40px;
            text-align: center;

            p {
                margin-top: 20px;
            }
        }
    }
}

// Contact section

.contact {
    background-image: url(../assets/back-img-5.png);
    background-size: cover;
    height: 1200px;
    margin-top: -275px;
    padding-top: 200px;

    h2 {
        position: relative;
    
        &:before {
            content: "";
            display: block;
            width: 140px;
            height: 2px;
            background-color: $white;
            position: absolute;
            top: 0;
        }
    }
}

.contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding-top: 100px;
}

.contactText {
    color: $white;
    width: 35%;

    p {
        margin: 100px 0;
    }
}

.socialIcons {
    display: flex;
    justify-content: space-between;
    width: 80%;

    a {
        color: $white;
        font-size: 2rem;

        &:hover,
        &:focus {
            color: $primary;
        }
    }
}

.contactForm {
    width: 60%;
}