// About section

.about {
    margin-top: 200px;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        position: relative;
        
        &:before {
            content: "";
            display: block;
            width: 140px;
            height: 2px;
            background-color: $text;
            position: absolute;
            top: 0px;
        }
    }
    

    .aboutText {
        margin-right: 100px;

        p {
            margin-top: 40px;
        }
    }

    .aboutImg {
        
        img {
            width: 500px;
            height: 500px;
            object-fit: cover;
            border-radius: 25px;
            box-shadow: -10px 10px 20px 10px rgba(0, 0, 0, 0.5);
        }
    }
}

// Toolkit section

.toolkit {
    background-image: url(../assets/back-img-3.png);
    background-size: cover;
    height: 1500px;
    margin-top: 200px;
    position: relative;
}

.laptop {
    position: absolute;
    top: 350px;
    width: 1260px;

    img {
        width: 90%;
        margin: 0 auto;
    }
}

.toolkitIcons {
    padding-top: 250px;

    h2 {
        text-align: center;
        position: relative;
        
        &:before {
            content: "";
            display: block;
            width: 140px;
            height: 2px;
            background-color: $text;
            position: absolute;
            left: 33.5%;
            top: -5px;
        }
    }

    ul {
        margin: 40px 200px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            font-size: 2.5rem;
            padding: 40px;
            text-align: center;

            p {
                margin-top: 20px;
            }
        }
    }

    p {
        font-family: $logoFont;
    }
    
}

// Projects section

.projects {
    margin-top: -300px;
    padding-top: 300px;
    background-image: url(../assets/back-img-4.png);
    background-size: cover;
    height: 1500px;

    h2 {
        text-align: center;
        position: relative;
        
        &:before {
            content: "";
            display: block;
            width: 140px;
            height: 2px;
            background-color: $text;
            position: absolute;
            left: 36.5%;
            top: -5px;
        }
    }
}

.projectsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 25px;
        margin-bottom: 25px;
    }

    p {
        margin: 25px 0;
    }

    .underTheSea {
        width: 45%;
    }

    .pokedexApi {
        width: 45%;
    }
}