// HEADINGS:

// h1: 138px (6.9rem), Line height: 126px (6.3rem)
// h2: 80px (3.5rem), Line height: 92px (4.6rem)
// h3: 42px (2.1rem)
// h4: 32px (1.6rem)

// BODY:

// Nav: 20px (1rem), Line height: 29px (1.45rem)
// Button: 20px (1rem), Line height: 32px (1.6rem)
// Body: 20px (1rem), Line height: 32px (1.6rem)

body {
    font-family: $bodyFont;
    font-size: 1rem;
    color: $text;
    background-color: $white;
    line-height: 1.6rem;
    text-transform: uppercase;
}

h1 {
    font-size: 6.9rem;
    line-height: 6.3rem;

    span {
        font-weight: 300;
    }
}

h2 {
    font-size: 3.5rem;
    line-height: 4.6rem;
}

h3 {
    font-size: 2.1rem;
    font-weight: 600;
}

h4 {
    font-size: 1.6rem;
    font-weight: 500;
}

p {
    text-transform: none;
    opacity: 0.8;
}

nav {
    font-size: 1rem;
    line-height: 1.45rem;
}

button {
    font-size: 1rem;
    line-height: 1.6rem;
    border: none;
}