// SITE FONTS:

// font-family: 'Raleway', sans-serif;
// font-family: 'Square Peg', cursive;

$font: 'Raleway', sans-serif;
$portfolio: 'Square Peg', cursive;

// SITE COLOURS:

// Primary background: #eee
// Button/nav background: #900
// Hover background: #060
// Text: #222

$primary: #fff;
$secondary: #900;
$tertiary: #060;
$text: #222;