// SITE FONTS:

// font-family: 'Raleway', sans-serif;

$font: 'Raleway', sans-serif;

// SITE COLOURS:

// Primary background: #eee
// Button background: #900
// Hover background: #060
// Text: #222

$primary: #fff;
$secondary: #900;
$tertiary: #060;
$text: #222;