// SITE FONTS:

// font-family: 'Raleway', sans-serif;
// font-family: 'Square Peg', cursive;

$bodyFont: 'Raleway', sans-serif;
$logoFont: 'Square Peg', cursive;

// SITE COLOURS:

// Background: #fff
// Button/nav/hover: rgba(255, 210, 19, 1); rgba(243, 166, 38, 1); rgba(217, 76, 59, 1); rgba(51, 74, 86, 1);
// Text: #222

$primary: rgba(255, 210, 19, 1);
$secondary: rgba(243, 166, 38, 1);
$tertiary: rgba(217, 76, 59, 1);
$quaternary: rgba(51, 74, 86, 1);
$text: #222;
$white: #fff;